<template>
  <div class="container">
    <div class="options">
      <div @click="selectOption()" class="option" v-bind:class="{ selected: selected }" id="sign-in">Sign In</div>
      <div @click="selectOption()" class="option" v-bind:class="{ selected: !selected }" id="sign-up">Sign Up</div>
    </div>
    <div class="form">
      <div>
        <label for="username">Username:</label>
      </div>
      <div>
        <input class="input" id="username" v-model="username">
      </div>
      <div>
        <label for="password">Password:</label>
      </div>
      <div>
        <input class="input" type="password" id="password" v-model="password">
      </div>
    </div>
    <div class="submit">
      <input @click="submit" type="submit" id="submit" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      message: '',
      selected: true,
      username: '',
      password: '',
    }
  },
  methods: {
    selectOption() {
      this.selected = !this.selected;
    },
    async submit () {
      if(this.username === '') {
        alert('Username required');
        return;
      }

      if(this.password === '') {
        alert('Password required');
        return;
      }

      let response = await fetch('http://localhost/api/authentication/login', {
        method: 'POST',
        body: JSON.stringify({username: this.username, password: this.password})
      });

      let result = await response.json();
      console.log(JSON.stringify(result));
      if(result.status) {
        window.location.href = '/platform';
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  margin: 0 auto;
  width: 450px;
  border: 1px solid lightgrey;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.option {
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.selected {
  background-color: white;
  border-top: 3px solid greenyellow;
}
.form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 10px;
}
.input {
  width: 60%;
}
.submit {
  margin: 10px;
}
</style>
